@font-face {
    font-family: "Cinzel";
    src: url(/src/fonts/Cinzel-VariableFont_wght.ttf);
}

@font-face {
    font-family: "EBGaramond";
    src: url(/src/fonts/EBGaramond-VariableFont_wght.ttf);
}

:root {
    --hours-height: 100%;
    --address-height: 50%;
    --gitLink-height: 12%;
    --s1: 10vh;
    --s2: 92vh;
    --s4: 84vh;
    --Aheight: calc(var(--s1) + var(--s2) + var(--s1) + var(--s4));

    --accent-bronze: #a46b55ee;
    --accent-dark-bronze: #2f1811ea;
    --main-color: #f9f9f9;
    --light-dark: #1f1e1e;
}

*, *::before, *::after {
    box-sizing: border-box;
}
*:focus {
    outline: none;
}

html,
body {
    width: 100%;
    height: var(--Aheight);
}

/*------- first load -------*/

.content {
    width: 100%;
    height: var(--Aheight);
    display: grid;
    grid-template-rows: var(--s1) var(--s2) var(--s1) var(--s4);
    background-color: #f9f9f9;
}

/* logo */
.logo-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    background: linear-gradient(0.25turn,var(--accent-bronze), var(--accent-dark-bronze));
}

.logo {
    font-size: 1.7rem;
    margin-left: 10px;
    font-family: "Cinzel";
}

/* banner */
.banner-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.kitchen-img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 0px 0px 10px 10px;
}

.text-top {
    width: 100%;
    position: relative;
    margin: 0px;
    color: var(--main-color);
    font-family: "EBGaramond";
    font-size: 2rem;
    z-index: 5;
}

.text-bottom {
    width: 100%;
    position: relative;
    padding: 0px 50px;
    color: var(--main-color);
    font-family: "EBGaramond";
    font-size: 1.5rem;
    z-index: 5;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(30, 30, 30, 0.5);
    border-radius: 0px 0px 10px 10px;
}

/* chip */

.chip-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.chip-top{
    width: 100%;
    height: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.btn-home,
.btn-menu,
.btn-contact {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid var(--light-dark);
    cursor: pointer;
    font-family: "EBGaramond";
    background-color: var(--main-color);
}

.active-btn {
    border: none;
    background-color: var(--light-dark);
    color: var(--main-color);
}

.chip-border-line {
    width: 100%;
    height: 2%;
    background: linear-gradient(0.25turn,var(--accent-bronze), var(--accent-dark-bronze));
}

/* new section */

.new-section-container {
    width: 100%;
    height: var(--s4);
    display: flex;
    justify-content: center;
    align-items: center;
}


/*-------  hours module -------*/

.hours-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hours {
    width: 100%;
    height: var(--hours-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: "EBGaramond";
    padding: 20px 0px;
}

.hour-tittle {
    margin: 0px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 1.2rem;
}

.timesTxt{
    margin: 0px;
}

.address {
    width: 100%;
    height: var(--address-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: "EBGaramond";
    text-align: center;
}

.address-tittle {
    margin: 0px;
    font-weight: bold;
    font-size: 1.2rem;
}

.address-txt {
    padding: 0px 15px;
    margin: 0px;
}

.gitLink {
    width: 100%;
    height: var(--gitLink-height);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "EBGaramond";

}

.my-link {
    display: flex;
    font-size: 0.8rem;
    padding: 5px 0px;
}

a, a:visited {
    text-decoration: none;
    color: black;
    cursor: pointer;
}


/*-------  menu module -------*/

.menu-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "EBGaramond";
}

.menu-lunch {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-entrees {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lunch-tittle {
    margin: 0px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 1.1rem;
}

.entree-tittle {
    margin: 0px;
    padding-top: 15px;
    font-weight: bold;
    font-size: 1.1rem;
}

.dish {
    margin: 0px;
    padding-top: 15px;
    font-size: 0.9rem;
}

.price {
    margin: 0px;
    font-size: 0.9rem;
}

/*-------  contact module -------*/

.contact-container {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "EBGaramond";
}

.tittle-form-container {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-tittle {
    font-size: 1.1rem;
    font-weight: bold;
}

.form {
    width: 100%;
    height: 68%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--accent-bronze);
    border-radius: 10px;
}

.label {
    width: 100%;
    font-size: 1.1rem;
    font-weight: bold;
}


.email {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

.email-label {
    width: 55px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.input-email {
    width: 100%;
    height: 25px;
    display: flex;
    flex: 1;
    border: 1px solid var(--accent-bronze);
    border-radius: 10px;
    padding-left: 5px;
    background-color: var(--main-color);
    cursor: pointer;
}

.comment {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0px 20px;
}

.comment-label {
    display: flex;
    justify-content: left;
    align-items: center;
}

.input-comment {
    width: 100%;
    height: 120px;
    border: 1px solid var(--accent-bronze);
    border-radius: 10px;
    background-color: var(--main-color);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding: 5px;
    font-size: "EBGaramond";
    cursor: pointer;
    
}

.input-comment:focus,
.input-email:focus {
    border: 1px solid transparent;
    outline: 2px solid #dc9e85ee;
}

.btn-form-container {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-form-btn {
    width: 70px;
    height: 35px;
    background-color: var(--main-color);
    border: 1px solid black;
    border-radius: 15px;
}